/**************************************************
* layout.css
*
* 1 - header
* 2 - footer
*
**************************************************/



.swiper-button-lock { display:none !important; }

@-webkit-keyframes fadeInDown {
    0% {
        -webkit-transform:translateY(-20px);
        transform:translateY(-20px);
        opacity:0;
    }
    100% {
        -webkit-transform:translateY(0);
        transform:translateY(0);
        opacity:1;
    }
}
@-moz-keyframes fadeInDown {
    0% {
        -webkit-transform:translateY(-20px);
        transform:translateY(-20px);
        opacity:0;
    }
    100% {
        -webkit-transform:translateY(0);
        transform:translateY(0);
        opacity:1;
    }
}
@-ms-keyframes fadeInDown {
    0% {
        -webkit-transform:translateY(-20px);
        transform:translateY(-20px);
        opacity:0;
    }
    100% {
        -webkit-transform:translateY(0);
        transform:translateY(0);
        opacity:1;
    }
}
@-o-keyframes fadeInDown {
    0% {
        -webkit-transform:translateY(-20px);
        transform:translateY(-20px);
        opacity:0;
    }
    100% {
        -webkit-transform:translateY(0);
        transform:translateY(0);
        opacity:1;
    }
}
@keyframes fadeInDown {
    0% {
        -webkit-transform:translateY(-20px);
        transform:translateY(-20px);
        opacity:0;
    }
    100% {
        -webkit-transform:translateY(0);
        transform:translateY(0);
        opacity:1;
    }
}
@-webkit-keyframes sub-top-view-bg {
    0% {
        transform:perspective(500px) scale(1.1) rotate(.001deg); 
        -webkit-transform:perspective(500px) scale(1.1) rotate(.001deg);  
        -moz-transform:perspective(500px) scale(1.1) rotate(.001deg);  
        -ms-transform:perspective(500px) scale(1.1) rotate(.001deg);  
        -o-transform:perspective(500px) scale(1.1) rotate(.001deg);
    }
    100% {
        transform:perspective(500px) scale(1) rotate(.001deg); 
        -webkit-transform:perspective(500px) scale(1) rotate(.001deg);  
        -moz-transform:perspective(500px) scale(1) rotate(.001deg);  
        -ms-transform:perspective(500px) scale(1) rotate(.001deg);  
        -o-transform:perspective(500px) scale(1) rotate(.001deg);
    }
}
@-moz-keyframes sub-top-view-bg {
    0% {
        transform:perspective(500px) scale(1.1) rotate(.001deg); 
        -webkit-transform:perspective(500px) scale(1.1) rotate(.001deg);  
        -moz-transform:perspective(500px) scale(1.1) rotate(.001deg);  
        -ms-transform:perspective(500px) scale(1.1) rotate(.001deg);  
        -o-transform:perspective(500px) scale(1.1) rotate(.001deg);
    }
    100% {
        transform:perspective(500px) scale(1) rotate(.001deg); 
        -webkit-transform:perspective(500px) scale(1) rotate(.001deg);  
        -moz-transform:perspective(500px) scale(1) rotate(.001deg);  
        -ms-transform:perspective(500px) scale(1) rotate(.001deg);  
        -o-transform:perspective(500px) scale(1) rotate(.001deg);
    }
}
@keyframes sub-top-view-bg {
    0% {
        transform:perspective(500px) scale(1.1) rotate(.001deg); 
        -webkit-transform:perspective(500px) scale(1.1) rotate(.001deg);  
        -moz-transform:perspective(500px) scale(1.1) rotate(.001deg);  
        -ms-transform:perspective(500px) scale(1.1) rotate(.001deg);  
        -o-transform:perspective(500px) scale(1.1) rotate(.001deg);
    }
    100% {
        transform:perspective(500px) scale(1) rotate(.001deg); 
        -webkit-transform:perspective(500px) scale(1) rotate(.001deg);  
        -moz-transform:perspective(500px) scale(1) rotate(.001deg);  
        -ms-transform:perspective(500px) scale(1) rotate(.001deg);  
        -o-transform:perspective(500px) scale(1) rotate(.001deg);
    }
}
@-webkit-keyframes sub-top-text-ani {
    0% {transform:translateY(-160%);}
    100% {transform: translateY(0);}
}
@-moz-keyframes sub-top-text-ani {
    0% {transform:translateY(-160%);}
    100% {transform: translateY(0);}
}
@keyframes sub-top-text-ani {
    0% {transform:translateY(-160%);}
    100% {transform: translateY(0);}
}
@-webkit-keyframes scroll {
    0%, 20% {
        transform:translateY(0) scaleY(1);
    }
    10% {
        opacity:1;
    }
    100% {
        transform:translateY(1.2em) scaleY(1.5);
        opacity:0.01;
    }
}
@-moz-keyframes scroll {
    0%, 20% {
        transform:translateY(0) scaleY(1);
    }
    10% {
        opacity:1;
    }
    100% {
        transform:translateY(1.2em) scaleY(1.5);
        opacity:0.01;
    }
}
@keyframes scroll {
    0%, 20% {
        transform:translateY(0) scaleY(1);
    }
    10% {
        opacity:1;
    }
    100% {
        transform:translateY(1.2em) scaleY(1.5);
        opacity:0.01;
    }
}
@-webkit-keyframes arrowAnim {
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes arrowAnim {
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@keyframes arrowAnim {
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@-webkit-keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}
@-moz-keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}
@-ms-keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}
@-o-keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}
@-webkit-keyframes width1 {
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}
@-moz-keyframes width1 {
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}
@-ms-keyframes width1 {
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}
@-o-keyframes width1 {
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}
@keyframes width1 {
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}
@-webkit-keyframes drift {
	from {
	  -webkit-transform:scale(0,0);
			  transform:scale(0,0);
			  opacity:1;
	}
	to {
	  -webkit-transform:scale(2,2);
			  transform:scale(2,2);
			  opacity:0;
	}
}
  
  @keyframes drift {
	from {
	  -webkit-transform:scale(0,0);
			  transform:scale(0,0);
			  opacity:1;
	}
	to {
	  -webkit-transform:scale(2,2);
			  transform:scale(2,2);
			  opacity:0;
	}
}
.animated {
    -webkit-animation-duration:1s;
    -moz-animation-fill-mode:1s;
    -ms-animation-fill-mode:1s;
    -o-animation-fill-mode:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:1s;
    -moz-animation-fill-mode:1s;
    -ms-animation-fill-mode:1s;
    -o-animation-fill-mode:1s;
    animation-fill-mode:1s;
}
.fadeInDown {
    -webkit-animation-name:fadeInDown;
    -moz-animation-name:fadeInDown;
    -ms-animation-name:fadeInDown;
    -o-animation-name:fadeInDown;
    animation-name:fadeInDown;
}

html, body{
    font-size:16px; 
    font-weight:400;
    line-height:1.5;
    font-family:'Pretendard', sans-serif;
	color:#131313;
	overflow-x:hidden;
}
html.scrollOver , body.scrollOver { overflow:hidden; }
#contents { width:100%; height:100%; overflow:hidden; }
/*a, a:hover, a:active, a:focus { color:#333; }*/

.section { padding:7% 0; }
.container { width:100%; margin-left:auto; margin-right:auto; }
.container-fluid { position:relative; width:100%; margin-left:auto; margin-right:auto; }
.container-lg { position:relative; width:100%; max-width:1680px; margin-left:auto; margin-right:auto; }
.container-md { position:relative; width:100%; max-width:1440px; margin-left:auto; margin-right:auto; }
.container-sm { position:relative; width:100%; max-width:1300px; margin-left:auto; margin-right:auto; }
.container-xs { position:relative; width:100%; max-width:1080px; margin-left:auto; margin-right:auto; }
.container-cnt { position:relative; width:100%; max-width:1200px; margin-left:auto; margin-right:auto; }
@media (max-width:1679px) {
	.container-lg { padding:0 15px; }
}
@media (max-width:1439px) {
	html, body { font-size:15px; }
	.container-md { padding:0 15px; }
}
@media (max-width:1299px) {
	html, body { font-size:14px; }
	.container-sm { padding:0 15px; }
}
@media (max-width:1199px) {
	.container-cnt { padding:0 15px; }
}
@media (max-width:1079px) {
	.container-xs { padding:0 15px; }
}
@media (max-width:991px) {
	.section { padding:10% 0; }
}
@media (max-width:799px) {
	html, body { font-size:13px; }
}
@media (max-width:479px) {
	html, body { font-size:12px; }
	.container { padding:0 1.66rem; }
/*	.container-fluid { padding:0 1.66rem; }*/
	.container-lg { padding:0 1.66rem; }
	.container-md { padding:0 1.66rem; }
	.container-sm { padding:0 1.66rem; }
	.container-xs { padding:0 1.66rem; }
	.container-cnt { padding:0 1.66rem; }
}
@media (max-width:419px) {
	html, body { font-size:11px; }
}
@media (max-width:379px) {
	html, body { font-size:10px; }
}

/* color */
.text-primary { color:#7c94c4; }
.text-secondary { color:#c79678; }
.text-third { color:#ceb5b1; }
.text-point01 { color:#e34343; }
.text-link { position:relative; color:#888; }
.text-link:after { content:""; position:absolute; left:0; right:0; bottom:0; display:inline-block; width:100%; height:0.5px; background-color:#888; }
.text-white { color:#fff; }

.highlight { position:relative; display:inline-block; z-index:0; }
.highlight:before { content:""; position:absolute; left:0; bottom:5px; display:inline-block; width:100%; height:0.6em; background-color:#ebd8ca; z-index:-1; }

/* icon */
.icon-arrow01 { width:1rem; height:0.625rem; background-image:url("../img/icon_arrow01.png"); }
.icon-arrow02 { width:0.5rem; height:0.5rem; background-image:url("../img/icon-arrow02.png"); }
.icon-arrow03 { width:0.5rem; height:0.5rem; background-image:url("../img/icon-arrow03.png"); }
.icon-arrow04 { width:0.625rem; height:0.75rem; background-image:url("../img/icon-arrow04.png"); }
.icon-location { width:1.562rem; height:2.14rem; background-image:url("../img/icon-location.png"); vertical-align:sub; }
.icon-location02 { width:4.75rem; height:4.75rem; background-image:url("../img/icon-location02.png"); vertical-align:sub; }
.icon-location03 { width:0.938rem; height:1.125rem; background-image:url("../img/icon-location03.png"); vertical-align:sub; }
.icon-subway01 { width:2.25rem; height:2.25rem; background-image:url("../img/icon-subway01.png"); }
.icon-subway01-2 { width:1.688rem; height:1.688rem; background-image:url("../img/icon-subway01-2.png"); margin-left: 0.5rem; margin-bottom: 3px;}
.icon-subway02 { width:2.25rem; height:2.25rem; background-image:url("../img/icon-subway02.png"); }
.icon-subway03 { width:4.75rem; height:4.75rem; background-image:url("../img/icon-subway03.png"); }
.icon-ktx { width:3.937rem; height:1.375rem; background-image:url("../img/icon-ktx.png"); }
.icon-srt { width:4.313rem; height:1.25rem; background-image:url("../img/icon-srt.png"); }
.icon-ktx02 { width:4.75rem; height:4.75rem; background-image:url("../img/icon-ktx02.png"); }
.icon-bus01 { width:4.75rem; height:4.75rem; background-image:url("../img/icon-bus01.png"); }
/* .icon-clock { width:1.75rem; height:1.75rem; background-image:url("../img/icon-clock.png"); } */
.icon-panel-arrow { width:1.75rem; height:0.938rem; background-image:url("../img/icon-panel-arrow.png"); }
/* .icon-cal { width:2.437rem; height:2.687rem; background-image:url("../img/icon-cal.png"); } */
.icon-tel { width:0.875rem; height:0.938rem; background-image:url("../img/icon-tel.png"); }
/* .icon-kakaoch { width:1.875rem; height:1.875rem; background-image:url("../img/icon-kakaochanel.png"); } */
.icon-dot01 { width:0.6875rem; height:0.6875rem; margin-right:0.3125rem; background-image:url("../img/icon-dot01.png"); vertical-align:inherit; }
.icon-up { width:2.125rem; height:2.25rem; background-image:url("../img/icon-up.png"); margin-right:7px; }
.icon-down { width:2.125rem; height:2.25rem; background-image:url("../img/icon-down.png"); }
.icon-youtube { width:3.1875rem; height:1rem; background-image:url("../img/icon-youtube.png"); }
.icon-parking { width:4.75rem; height:4.75rem; background-image:url("../img/icon-parking.png"); vertical-align:sub; }
.icon-self { width:4.75rem; height:4.75rem; background-image:url("../img/icon-self.png"); vertical-align:sub; }

/* .icon-ft-kakao { width:1.875rem; height:1.875rem; background-image:url("../img/icon-ft-kakao.png"); } */
.icon-ft-insta { width:1.875rem; height:1.875rem; background-image:url("../img/icon-ft-insta.png"); }
.icon-ft-blog { width:1.875rem; height:1.875rem; background-image:url("../img/icon-ft-blog.png"); }
.icon-ft-youtube { width:1.875rem; height:1.875rem; background-image:url("../img/icon-ft-youtube.png"); }

.icon-survey-counsel { width:1.5rem; height:1.5rem; background-image:url("../img/icon-survey-counsel.png"); }
.icon-survey-kakao { width:1.5rem; height:1.5rem; background-image:url("../img/icon-survey-kakao.png"); }
.icon-survey-return { width:1.5rem; height:1.5rem; background-image:url("../img/icon-survey-return.png"); }

.icon-survey-counsel02 { width:1.5rem; height:1.5rem; background-image:url("../img/icon-survey-counsel02.png"); }
.icon-survey-kakao02 { width:1.5rem; height:1.5rem; background-image:url("../img/icon-survey-kakao02.png"); }
.icon-survey-return02 { width:1.5rem; height:1.5rem; background-image:url("../img/icon-survey-return02.png"); }

.icon-survey-counsel03 { width:1.5rem; height:1.5rem; background-image:url("../img/icon-survey-counsel03.png"); }
.icon-survey-kakao03 { width:1.5rem; height:1.5rem; background-image:url("../img/icon-survey-kakao03.png"); }
.icon-survey-return03 { width:1.5rem; height:1.5rem; background-image:url("../img/icon-survey-return03.png"); }

.icon-survey-counsel04 { width:1.5rem; height:1.5rem; background-image:url("../img/icon-survey-counsel04.png"); }
.icon-survey-kakao04 { width:1.5rem; height:1.5rem; background-image:url("../img/icon-survey-kakao04.png"); }
.icon-survey-return04 { width:1.5rem; height:1.5rem; background-image:url("../img/icon-survey-return04.png"); }

.icon-mouse { width:1.188rem; height:1.938rem; background-image:url("../img/icon-mouse.png"); margin-right:8px;}

@media (max-width:991px) {
	.icon-up { margin-left:-7px; }
}

/* button */
.btn { position:relative; overflow:hidden; border-radius:0.187rem 1.25rem; transition:all 0.75s cubic-bezier(0.19,1,0.22,1); }
.btn:after { content:""; position:absolute; left:-75px; top:-50px; width:50px; height:155px; background-color:#fff; opacity:0.2; transform:rotate(35deg); transition:all 0.75s cubic-bezier(0.19,1,0.22,1); }
.btn:hover { border-radius:0; transition:all 0.75s cubic-bezier(0.19,1,0.22,1); }
.btn:hover:after { left:120%; }
.btn.big { height:50px; line-height:48px; font-size:1.125rem; }
.btn.small { height:30px; padding:0 15px; min-width:10px; line-height:28px; font-size:13px; }
.btn.xsmall { height:26px; padding:0 10px; min-width:10px; line-height:24px; font-size:12px; }
.btn.type01 { color:#fff; border-color:#7c94c4; background-color:#7c94c4; }
/*.btn.type01:hover { background-color:#93989a; color:#fff; border-color:#7e8283; }*/
.btn.type02 { color:#ffffff; border-color:#767a7c; background-color:#7e8283; }
/*.btn.type02:hover { background-color:#656869; border-color:#7e8283; }*/
.btn.type03 { border:2px solid #7c94c4; background-color:transparent; border-radius:2rem; padding:0 2rem; line-height: 40px;}
.btn.type03:hover { background-color:#7c94c4; transition:background 0.4s 0.1s ease-in-out; -webkit-transition:background 0.4s 0.1s ease-in-out; -moz-transition:background 0.4s 0.1s ease-in-out; -ms-transition:background 0.4s 0.1s ease-in-out; -o-transition:background 0.4s 0.1s ease-in-out; }
.btn.type03 .btn-txt { margin-right:7px; line-height:38px; color:#131313; vertical-align:middle; }
.btn.type03 .btn-txt:after { content:""; position:absolute; left:0; top:0; width:0; height:100%; transition:0.4s ease-in-out; -webkit-transition:0.4s ease-in-out; -moz-transition:0.4s ease-in-out; -ms-transition:0.4s ease-in-out; -o-transition:0.4s ease-in-out; z-index:-1; }
.btn.type03:hover .btn-txt { color:#fff; }
.btn.type03:hover .btn-txt:after { width:100%; background-color:#7c94c4; transition:0.4s ease-in-out; -webkit-transition:0.4s ease-in-out; -moz-transition:0.4s ease-in-out; -ms-transition:0.4s ease-in-out; -o-transition:0.4s ease-in-out; }
.btn.type03:hover .icon-arrow03 { background:url("../img/icon-arrow03-hover.png") no-repeat center/ 100% auto; }
/*.btn.type03:hover { background-color:#fff; color:#333; }*/
.btn.type04 { min-width:340px; height:56px; line-height:54px; color:#343434; border-color:#fff; background-color:#fff; border-radius:2rem; font-size:1.125rem; font-weight:500; }
.btn.type04:after { display:none; }
/*.btn.type04:hover { background-color:#f7f7f7; }*/
.btn.type05 { background-color:#4995c4; color:#fff; }
/*.btn.type05:hover { color:#fff; border-color:#4995c4; background-color:#4995c4; }*/
.btn.type06 { background-color:#93989a; color:#fff; }
/*.btn.type06:hover { color:#fff; border-color:#c9c9c9; background-color:#ffffff; }*/

h2 .btn.text-type { position:absolute; bottom:0.5rem; }
h2 .btn.text-type i { vertical-align:super; }
.btn.text-type { height:auto; line-height:1; padding:0; color:#888; border-radius:0; }
.btn.text-type .text-line { display:inline-block; border-bottom:1px solid rgba(136,136,136,0.5); }
.btn.text-type:after { display:none; }

@media (max-width:991px) {
	.btn.big { height:45px; line-height:43px; font-size:14px; }
}
@media (max-width:639px) {
	.btn.big { height:40px; line-height:38px; }
}

/**************************************************
* 1 - header
**************************************************/
/* header */
#header { width:100%; position:absolute; z-index:2015; background:linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0)); transition:background .4s ease; }
#header.on { background:rgba(255,255,255,0.9); }
#header > .container-lg { padding-top:10px; }

#header.fixed { position:fixed; top:0; background:rgba(255,255,255,0.9); box-shadow: 0px 2px 12.75px 2.25px rgba(0, 0, 0, 0.05); }
#header.fixed > .container-lg { padding-top:0; }
#header.fixed #gnb .gnb_1da { color:#131313; }
#header.on #gnb .gnb_1da { color:#131313; }

#header.fixed #gnb .gnb_mnal .gnb_menu_bar { background-color:#131313; }
#header.fixed #gnb .gnb_mnal .active .gnb_menu_bar { background-color:#fff; }

#header #gnb .gnb_mnal.mo-only { display:none; }

.header-top-banner { position:relative; height:2.5rem; line-height:2.5rem; background-color:#1c1c1c; text-align:center; overflow:hidden; z-index:5; }
.header-top-banner .swiper-container { height:100%; }
.header-top-banner a { color:#fff; font-size:0.938rem; }
.header-top-banner .position-absolute { right:0; top:0; }
.header-top-banner .position-absolute p { color:#fff; font-size:0.938rem; font-weight:600; }

#header.fixed .header-top-banner { height:0; }

#header .logo { position:relative; float:left; width:190px; height:78px; padding:5px 0; background:url("../img/logo.png") no-repeat center/ 100% auto; }
#header .logo a { display:block; width:100%; height:100%; }
/* #header.on .logo { background:url("../img/logo-blue.png") no-repeat center/ 100% auto; } */
#header.fixed .logo { width:200px; height:24px; padding:32px 0; background:url("../img/logo-fixed.png") no-repeat center/ 100% auto; }
/*#header.fixed .logo { max-width:150px; }*/
#gnb { float:left; width:calc(100% - 200px); }
#gnb .gnb_wrap { margin-left:65px; }
#gnb ul:after { content:""; display:block; visibility:hidden; clear:both; }
#gnb .gnb_1dli { float:left; width:11%; line-height:5.75rem; text-align:center; }
#gnb .gnb_1dli:hover > a { color:#7c94c4; }
#header.on #gnb .gnb_1dli:hover > a { color:#7c94c4; }
#gnb .gnb_1da { display:block; font-size:1rem; font-weight:500; color:#fff; }
.fixed #gnb .gnb_1dli { line-height:4.375rem; }

#gnb .gnb_al_li_plus .gnv_1da { padding-right:25px; }

#gnb .gnb_submenu { position:absolute; left:0; right:0; top:calc(48px + 5.75rem); background-color:rgba(255,255,255,0.9); border-top:1px solid #d8d8d8; opacity:0; visibility:hidden; }
#header.fixed #gnb .gnb_submenu { top:4.375rem; }
#gnb .gnb_submenu_inner { float:left; width:calc(100% - 268px); margin-left:255px; overflow:hidden; }
/* #header.fixed #gnb .gnb_submenu_inner { margin-left:268px; } */
#gnb .gnb_submenu ul { float:left; width:11%; padding:15px 0 30px; }
#gnb .gnb_submenu li { margin:7px 0; text-align:center; }
#gnb .gnb_submenu li a { font-size:0.938rem; color:#131313; }
#gnb .gnb_submenu li:hover a { color:#7c94c4; }

#gnb .gnb_submenu li a.clinic { color:#7c94c4; }
#header.on #gnb .gnb_1dli a.signature,
#gnb .gnb_submenu ul:nth-child(2) li a { color: rgba(196, 124, 124, 1); }

#header.on #gnb .gnb_1dli:hover a.clinic,
#header.on #gnb .gnb_1dli:hover a.signature,
#gnb .gnb_submenu li:hover a.clinic,
#gnb .gnb_submenu ul:nth-child(2) li:hover a { color: #131313;} 

#gnb .gnb_mnal { float:right; display:none; }
#gnb .gnb_mnal .gnb_menu_btn { position:relative; width:42px; height:17px; z-index:5000; }
#gnb .gnb_mnal .gnb_menu_bar { position:absolute; display:block; width:100%; height:2px; background-color:#fff; border-radius:1px; transition:all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965); }
#gnb .gnb_mnal .gnb_menu_bar1 { top:0; }
#gnb .gnb_mnal .gnb_menu_bar2 { bottom:0; }

#gnb .gnb_mnal .gnb_menu_btn.active .gnb_menu_bar1 { transform:rotate(45deg); top:7px; }
#gnb .gnb_mnal .gnb_menu_btn.active .gnb_menu_bar2 { transform:rotate(-45deg); bottom:8px; }

#header.on #gnb .gnb_1dli:last-child > a,
#gnb .gnb_submenu ul:last-child li a { color:#7c94c4; }

/* gnb_all */
#gnb_all { display:none; }
#gnb_all .logo { background:url("../img/logo-fixed.png") no-repeat center/ 100% auto; }
/*.fixed #gnb_all { padding-top:0; top:0; }*/
#gnb_all .pc-only { display:block; }
#gnb_all .mo-only { display:none; }
/*#gnb_all .gnb_al_li { position:relative; float:left; line-height:5.75rem; }*/
/*.fixed #gnb_all .gnb_al_li { line-height:4.375rem; }*/
/*#gnb_all .gnb_al_ul { float:left; width:calc(100% - 190px); padding-left:25px; }*/

/*



#gnb_all .gnb_al_li .gnb_al_a { display:block; padding:0 33px; font-size:1em; font-weight:500; color:#fff; }

#gnb_all .gnb_al_li li { line-height:40px; font-size:0.938rem; }
#gnb_all .gnb_al_li li a { color:#fff; }
*/

/* progress-container */
.progress-container { width:100%; height:2px; position:absolute; bottom:-2px; }
.progress-container .progress-bar { width:0; height:2px; background-color:#7c94c4; -webkit-transition:width .2s ease-out; transition:width .2s ease-out; }

@media (max-width:1679px) {
	.header-top-banner .position-absolute { right:15px; }
}
@media (max-width:1599px) {
	#header .logo { width:160px; }
	#header.fixed .logo { width:180px; }
	#gnb { width:calc(100% - 180px); }
	#gnb_all .gnb_al_ul { width:calc(100% - 180px); }
	#gnb .gnb_1dli { width:12.5%; }
	
	#gnb_all .gnb_al_li { width:12.5%; text-align:center; }
	#gnb_all .gnb_al_li .gnb_al_a { padding:0; }
	#gnb_all .gnb_al_li ul { left:16%; }
	#gnb_all .gnb_al_li li { text-align:left; }
	#gnb .gnb_submenu ul { width:12.5%; }
	#header.fixed #gnb .gnb_submenu_inner { width:calc(100% - 225px); }
	
}
@media (max-width:1399px) {
	#header > .container-lg { padding:0 15px; }
	#header .logo { width:150px; }
	#header.fixed .logo { width:170px; }
	#gnb { width:calc(100% - 170px); }
	
	#gnb_1dul { display:none; }
	.gnb_submenu { display:none; }
	#gnb .gnb_1dli:not(.gnb_mnal) { display:none; }
	#gnb .gnb_mnal { display:block; }
	#gnb .gnb_mnal .gnb_menu_btn { margin:25px 15px; }
	#gnb .gnb_mnal .gnb_menu_btn.active { margin-top:0; }
	#header.fixed #gnb .gnb_mnal .gnb_menu_btn.active { margin-top:25px; }
	#header #gnb .gnb_mnal .gnb_menu_bar { background-color:#fff; }
	#header #gnb .gnb_mnal .active .gnb_menu_bar { background-color:#000; }
	#header.fixed #gnb .gnb_mnal .active .gnb_menu_bar { background-color:#000; }
	
	#gnb_all { display:block; position:fixed; right:-100%; top:0; bottom:0; width:90%; background:#fff; z-index:1000; transition:all .6s ease; overflow:hidden; }
	#gnb_all.active { right:0; }
	#gnb_all_bg { position:fixed; top:0; right:-100%; width:100%; height:100%; background-color:rgba(0,0,0,0.5); opacity:0; transition:opacity .4s; z-index:20; }
	#gnb_all_bg.active { opacity:1; right:0; }
	
	#gnb_all .pc-only { display:none; }
	#gnb_all .mo-only { display:block; }
	.gnb-thumb-slide li { text-align:center; line-height:2; }
	.gnb-thumb-slide li a { color:#393939; font-size:0.875rem; }
	.gnb-thumb-slide li .imgbox { border-radius:1rem; overflow:hidden; }
	
	#gnb_all .gnb_al_ul { position:relative; padding-left:0; padding-top:25px; }
	#gnb_all .gnb_al_li { width:100%; float:left; text-align:left; line-height:3rem; }
	#gnb_all .gnb_al_li ul { display:none; position:absolute; float:left; width:55%; left:inherit; top:25px; right:0; }
	#gnb_all .gnb_al_li li { line-height:2.5rem; }
	#gnb_all .gnb_al_li .gnb_al_a { float:left; width:42%; color:#393939; font-size:1.5rem; font-weight:500; }
	#gnb_all .gnb_al_li ul { }
	#gnb_all .gnb_al_a.active + ul { display:block; }
	#gnb_all .gnb_al_li ul a { color:#787878; font-size:1.25rem; }
	#gnb_all .gnb_al_a.active { color:#7c94c4; text-decoration:underline; }
	
	#gnb_all .gnb_al_li:nth-of-type(8) ul li:first-of-type { display: none;}
}
@media (max-width:991px) {
	#header #gnb .gnb_mnal.mo-only { display:block; }
	#gnb_all .gnb_al_li ul { width:100%; left:60%; }
	#gnb_all .gnb_al_li .gnb_al_a { width:50%; }
}
@media (max-width:639px) {
	#logo { max-width:140px; }
	#header.fixed #logo { max-width:140px; }
	#gnb { width:calc(100% - 170px); }
	.header-top-banner .position-absolute { display:none; }
	.header-top-banner a { font-size:1.125rem; }
	
	#header #gnb .gnb_mnal.mo-only { width:15%; }
	#header #gnb .gnb_mnal.mo-only:nth-child(2) { width:20%; }
	.fixed #gnb .gnb_1dli { padding:5px 0 0; }
	#gnb .gnb_mnal .gnb_menu_btn { width:32px; }
	
	#gnb_all .gnb_al_ul { width:calc(100% - 100px); }
}
@media (max-width:479px) {
	.fixed #gnb .gnb_1dli { padding-top:7px; }
	#gnb_all .gnb_al_li ul { left:65%; }
	#gnb_all .gnb_al_li .gnb_al_a { width:55%; }
}

/**************************************************
* 2 - footer
**************************************************/
#footer { position:relative; background-color:#000; padding:2.5rem 0 0; }
#footer .container-cnt { padding-bottom:4.25rem; }
#footer .pc-only { display:block; }
#footer .mo-only { display:none; }
#ft_logo { width:11.875rem; }


#footer .frbox { width:calc(100% - 11.875rem); padding-left:12%; }

#footer .ft_company { width:45%; float:left; }
#footer .ft_company p { margin-bottom:0.4rem; color:#fff; font-size:0.938rem; font-weight:100; }

#footer .ft_sns { width:35%; float:left; }
#footer .ft_sns p { margin-bottom:0.4rem; }
#footer .ft_sns a { color:#fff; font-size:0.938rem; font-weight:100; }

#footer .ft_lnb { width:20%; float:left; }
#footer .ft_lnb p { margin-bottom:0.4rem; }
#footer .ft_lnb a { color:#fff; font-size:0.938rem; font-weight:100; }

#footer .container-fluid { border-top:1px solid #b9b9b9; }
#footer .ft_info03 { width:100%; max-width:1200px; height:4.75rem; line-height:4.75rem; margin:0 auto; }
#footer .ft_info03 p { color:#b9b9b9; }

#top_btn { position:absolute; right:3rem; bottom:3rem; }

@media (max-width:799px) {
	#footer .pc-only { display:none; }
	#footer .mo-only { display:block; padding:0 5%; }
	
	
	#footer .ft_company { width:100%; float:none; }
	#footer .ft_company p { position:relative; display:inline-block; padding:0 1rem; }
	#footer .ft_company p:first-child { padding-left:0; }
	#footer .ft_company p + p:before { content:""; display:inline-block; width:1px; height:12px; background-color:#888888; position:absolute; left:0; top:50%; margin-top:-6px; }
	
	#footer .ft_sns { width:100%; float:none; }
	#footer .ft_sns p { display:inline-block; }
	#footer .ft_sns a { display:inline-block; margin-right:2.25rem; margin-bottom:2rem; font-size:0; width:2.25rem; height:2.25rem; overflow:hidden; line-height:0; text-indent:-1000em; vertical-align:middle; }
	/* #footer .ft_sns a.kakao { background:url("../img/ft_kakao.png") no-repeat center/ 100% auto; } */
	/* #footer .ft_sns a.insta { background:url("../img/ft_insta.png") no-repeat center/ 100% auto; } */
	/* #footer .ft_sns a.blog { background:url("../img/ft_blog.png") no-repeat center/ 100% auto; } */
	/* #footer .ft_sns a.youtube { background:url("../img/ft_youtube.png") no-repeat center/ 100% auto; } */
	/* #footer .ft_sns a.location { background:url("../img/ft_location.png") no-repeat center/ 100% auto; } */
	
	#footer .ft_lnb { width:100%; float:none; }
	#footer .ft_lnb p { position:relative; display:inline-block; padding:0 1rem; }
	#footer .ft_lnb p:first-child { padding-left:0; }
	#footer .ft_lnb p + p:before { content:""; display:inline-block; width:1px; height:12px; background-color:#888888; position:absolute; left:0; top:50%; margin-top:-6px; }
	
	#footer .copy { display:flex; justify-content:space-between; align-items:flex-end; margin-top:1.875rem; padding-bottom:1.5rem; }
	#footer .copy #ft_logo { width:auto; }
	#footer .copy #ft_logo img { width:8.25rem; }
	#footer .copy .ft_info03 { width:auto; height:auto; line-height:normal; margin:0; }
	
}
@media (max-width:479px) {
	#footer .mo-only { padding:0 2.5%; }
	
	#footer .ft_company p { padding:0 0.5rem; }
	#footer .ft_lnb p { padding:0 0.5rem; }
	
	
}

/* modal - �쎄�愿�由� */
#provision.modal { width:90%; max-width:1000px; height:80vh; }
#provision.modal .modal-dialog { height:100%; padding:0.938rem; background-color:#f8f8f8; border-radius:0.625rem; text-align:center; }
#provision.modal .modal-content { height:100%; text-align:left; background-color:transparent; }
#provision.modal .modal-body { height:100%; }
#provision.modal .modal-close { left:50%; margin-left:-1.031rem; top:-8%; }

#privacy.modal { width:90%; max-width:1000px; height:80vh; }
#privacy.modal .modal-dialog { height:100%; padding:0.938rem; background-color:#f8f8f8; border-radius:0.625rem; text-align:center; }
#privacy.modal .modal-content { height:100%; text-align:left; background-color:transparent; }
#privacy.modal .modal-body { height:100%; }
#privacy.modal .modal-close { left:50%; margin-left:-1.031rem; top:-8%; }

#nonpay.modal { width:90%; max-width:1000px; height:80vh; }
#nonpay.modal .modal-dialog { height:100%; padding:0.938rem; background-color:#f8f8f8; border-radius:0.625rem; text-align:center; }
#nonpay.modal .modal-content { height:100%; text-align:left; background-color:transparent; }
#nonpay.modal .modal-body { height:100%; }
#nonpay.modal .modal-close { left:50%; margin-left:-1.031rem; top:-8%; }

.modal .modal-titlebox { padding:0.3125rem 0; font-size:1.375rem; font-weight:500; }
.modal-txtbox { height:90%; max-height:600px; overflow:scroll; padding:0.625rem; background-color:#fff; border-radius:0.625rem; border:1px solid #ddd; }
.modal-txtbox * { width:100% !important; word-break:keep-all; }

/**************************************************
* 3 - quick
**************************************************/
/* main-quick-menu */
.main-quick-menu { bottom:60px; color:#fff; font-size:0.9rem; right:68px; position:fixed; width:190px; z-index:11; }
.main-quick-menu__item { animation:bouncing1 .7s infinite alternate; border:1px solid #fff; border-radius:24px; color:#fff; height:46px; margin-bottom:12px; -moz-border-radius:24px; -moz-transform:translate3d(0,-15px,0); -moz-transition:0.3s; -ms-border-radius:24px; -ms-transform:translate3d(0,-15px,0); -ms-transition:0.3s; -o-border-radius:24px; -o-transform:translate3d(0,-15px,0); -o-transition:0.3s; transform:translate3d(0,-15px,0); transition:0.3s; -webkit-animation:bouncing1 .7s infinite alternate; -webkit-border-radius:24px; -webkit-transform:translate3d(0,-15px,0); -webkit-transition:0.3s; }
/*.main-quick-menu__item.main-quick-menu__item2 { background-color:#fff; border-color:#7c94c4; color:#131313; }*/
.main-quick-menu.scrolled .main-quick-menu__item { background-color:#fff; border-color:#7c94c4; color:#131313; }
.main-quick-menu.scrolled .main-quick-menu__item > a { color:#131313;;}
.main-quick-menu__item > a { display:flex; justify-content:flex-start; align-items:center; height:100%; padding:10px 8px 10px 18px; width:100%; color:#fff; font-size:0.875rem }
.main-quick-menu.scrolled .main-quick-menu__item:hover, .main-quick-menu .main-quick-menu__item:hover, .main-quick-menu .main-quick-menu__item:focus { background-color:#7c94c4; border-color:#7c94c4; color:#fff; }
.main-quick-menu.scrolled .main-quick-menu__item:hover > a { color:#fff; }

.main-quick-menu__item .icon-quick { margin-right:5px; }
.icon-quick.youtube { width:1.563rem; height:1.375rem; background-image:url(../img/icon-quick-youtube-w.png); margin-right: 6px; }
.icon-quick.home { width:1.625rem; height:1.625rem; background-image:url(../img/icon-quick-home-w.png); }
.icon-quick.vitiligo { width:1.313rem; height:1.625rem; background-image:url(../img/naver_w.png); margin-right:9px; }
.icon-quick.pangyo { width:1.625rem; height:1.625rem; background-image:url(../img/icon-quick-pangyo-w.png); }
.icon-quick.kakao { width:1.625rem; height:1.625rem; background-image:url(../img/icon-quick-kakao-w.png); }
.icon-quick.naver { width:1.625rem; height:1.625rem; background-image:url(../img/icon-quick-naver-w.png); }
.icon-quick.insta { width:1.625rem; height:1.625rem; background-image:url(../img/icon-quick-insta-w.png); }

.icon-quick.phone { width:1.313rem; height:1.313rem; background-image:url(../img/icon-quick-call-w.png); margin-right:9px; }
.icon-quick.tattoo { width:1.313rem; height:1.625rem; background-image:url(../img/location_w.png); margin-right:9px; }
.icon-quick.scars { width:1.313rem; height:1.625rem; background-image:url(../img/icon-quick-scars-w.png);margin-right:9px;  }

.main-quick-menu.scrolled .main-quick-menu__item .icon-quick.youtube { background-image:url(../img/icon-quick-youtube-b.png); }
.main-quick-menu.scrolled .main-quick-menu__item .icon-quick.home { background-image:url(../img/icon-quick-home-b.png); }
.main-quick-menu.scrolled .main-quick-menu__item .icon-quick.vitiligo { background-image:url(../img/naver.png); }
.main-quick-menu.scrolled .main-quick-menu__item .icon-quick.pangyo { background-image:url(../img/icon-quick-pangyo-b.png); }
.main-quick-menu.scrolled .main-quick-menu__item .icon-quick.kakao { background-image:url(../img/icon-quick-kakao-b.png); }
.main-quick-menu.scrolled .main-quick-menu__item .icon-quick.naver { background-image:url(../img/icon-quick-naver-b.png); }
.main-quick-menu.scrolled .main-quick-menu__item .icon-quick.insta { background-image:url(../img/icon-quick-insta-b.png); }

.main-quick-menu.scrolled .icon-quick.phone { width:1.313rem; height:1.313rem; background-image:url(../img/icon-quick-call-b.png); }
.main-quick-menu.scrolled .icon-quick.tattoo { width:1.313rem; height:1.625rem; background-image:url(../img/location.png); }
.main-quick-menu.scrolled .icon-quick.scars { width:1.313rem; height:1.625rem; background-image:url(../img/icon-quick-scars-b.png); }

.main-quick-menu.scrolled .main-quick-menu__item:hover .icon-quick.youtube { background-image:url(../img/icon-quick-youtube-w.png); }
.main-quick-menu.scrolled .main-quick-menu__item:hover .icon-quick.home { background-image:url(../img/icon-quick-home-w.png); }
.main-quick-menu.scrolled .main-quick-menu__item:hover .icon-quick.vitiligo { background-image:url(../img/naver_w.png); }
.main-quick-menu.scrolled .main-quick-menu__item:hover .icon-quick.pangyo { background-image:url(../img/icon-quick-pangyo-w.png); }
.main-quick-menu.scrolled .main-quick-menu__item:hover .icon-quick.kakao { background-image:url(../img/icon-quick-kakao-w.png); }
.main-quick-menu.scrolled .main-quick-menu__item:hover .icon-quick.naver { background-image:url(../img/icon-quick-naver-w.png); }
.main-quick-menu.scrolled .main-quick-menu__item:hover .icon-quick.insta { background-image:url(../img/icon-quick-insta-w.png); }

.main-quick-menu.scrolled .main-quick-menu__item:hover .icon-quick.phone { width:1.313rem; height:1.313rem; background-image:url(../img/icon-quick-call-w.png); }
.main-quick-menu.scrolled .main-quick-menu__item:hover .icon-quick.tattoo { width:1.313rem; height:1.625rem; background-image:url(../img/location_w.png); }
.main-quick-menu.scrolled .main-quick-menu__item:hover .icon-quick.scars { width:1.313rem; height:1.625rem; background-image:url(../img/icon-quick-scars-w.png); }


/* @keyframes bouncing1 { 	
	0% { -moz-transform:translate3d(0,-15px,0); -ms-transform:translate3d(0,-15px,0); -o-transform:translate3d(0,-15px,0); transform:translate3d(0,-15px,0); -webkit-transform:translate3d(0,-15px,0); }
	100% { -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0); }
} */

/* m-quick-call */
.m-quick-call { background:transparent; bottom:30px; display:none; height:66px; position:fixed; right:20px; width:66px; z-index:55; }

.m-quick-call-btn { background:url("../img/content01.png")0 0/100% no-repeat; cursor:pointer; height:66px; margin-left:auto; width:62px; }
.bounce-dots { margin-left:auto; margin-right:auto; padding-top:calc(50% - 8px); text-align:center; width:34px; }
.bounce-dot { display:inline-block; width:8px; height:8px; -webkit-animation:mquickBounce 1.4s infinite ease-in-out both; animation:mquickBounce 1.4s infinite ease-in-out both; background-color:#fff; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; -webkit-border-radius:50%; border-radius:50%; }
.bounce-dot:nth-child(1) { -webkit-animation-delay:-0.32s; animation-delay:-0.32s; }
.bounce-dot:nth-child(2) { -webkit-animation-delay:-0.16s; animation-delay:-0.16s; }

@keyframes mquickBounce {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0)
	}

	40% {
		-webkit-transform: scale(1.0)
	}
}
.m-quick-circle-wrap { bottom:0; height:100%; opacity:0; overflow:hidden; position:fixed; right:0; width:100%; z-index:-1; }
.m-quick-circle-wrap.open { opacity:1; z-index:111; }
.m-quick-dim-bg { background:rgba(0,0,0,.7); height:100%; left:0; position:absolute; top:0; width:100%; }
.m-quick-circle-inner { border:none; border-radius:50%; bottom:-130px; height:400px; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; position:absolute; right:-130px; -webkit-border-radius:50%; width:400px; z-index:55; }
.m-quick-circle-bg{position:relative; width:100%; height:100%; background: url("../img/m-quick-circle-inner-bg.png") 50% 50%/100% no-repeat; z-index:1; border-radius:100%; -webkit-border-radius:100%;}
.m-quick-circle-bg .m-quick-btn { height:50px; position:absolute; text-align:center; width:70px; color:#555; }
.m-quick-circle-bg .m-quick-btn.call {left: 202px;top: 24px;}
.m-quick-circle-bg .m-quick-btn.kakao {left: 133px;top: 35px;}
.m-quick-circle-bg .m-quick-btn.youbube {left: 27px;top: 140px;}
/* .m-quick-circle-bg .m-quick-btn.pangyo {left: 27x;top: 143px;} */
.m-quick-circle-bg .m-quick-btn.insta {left: 29px;top:214px;}
.m-quick-circle-bg .m-quick-btn.home {left: 65px;top: 71px;}

.icon-quick-call { display:block; width:2.437rem; height:2.437rem; background-image:url("../img/icon-quick-call.png"); margin:0 auto 5px; }
.icon-quick-kakao { display:block; width:2.437rem; height:2.437rem; background-image:url("../img/icon-quick-kakao.png"); margin:0 auto 5px; }
.icon-quick-youtube { display:block; width:2.437rem; height:2.437rem; background-image:url("../img/naver_b.png"); margin:0 auto 5px; }
.icon-quick-home { display:block; width:2.437rem; height:2.437rem; background-image:url("../img/icon-quick-home.png"); margin:0 auto 5px; }
.icon-quick-insta { display:block; width:2.437rem; height:2.437rem; background-image:url("../img/location_b.png"); margin:0 auto 5px; }
.icon-quick-pangyo { display:block; width:2.437rem; height:2.437rem; background-image:url("../img/icon-quick-pangyo.png"); margin:0 auto 5px; }
.icon-quick-vitiligo { display:block; width:2.437rem; height:2.437rem; background-image:url("../img/doctor.png"); margin:0 auto 5px; }

.m-quick-circle-bg .m-quick-icon + span { display:block; font-size:12px; }
.m-quick-close-btn { background:linear-gradient(90deg, #93a5ca, #5572ab); border-radius:50px; box-shadow:3px 3px 8px rgba(55,55,55,.15); height:84px; left:148px; -moz-border-radius:50px; -ms-border-radius:50px; -o-border-radius:50px; position:absolute; top:148px; -webkit-border-radius:50px; width:84px; }
.m-quick-close-btn > img { display:block; margin-left:35%; margin-top:35%; width:30%; }

.m_kakao_item{
    position:absolute; width:7.5rem; height:7.5rem; border-radius:100%; background:linear-gradient(90deg, #93a5ca, #5572ab); z-index:0; 
    opacity:0; visibility:hidden; 
    transform: translate(80%,110%) translateZ(0);
    -webkit-transform: translate(80%,110%) translateZ(0);
    -moz-transform: translate(80%,110%) translateZ(0);
    -ms-transform: translate(80%,110%) translateZ(0);
    -o-transform: translate(80%,110%) translateZ(0);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.m_kakao_item.on{
    opacity:1; visibility:visible; 
    transform: translate(0%,0%) translateZ(0);
    -webkit-transform: translate(0%,0%) translateZ(0);
    -moz-transform: translate(0%,0%) translateZ(0);
    -ms-transform: translate(0%,0%) translateZ(0);
    -o-transform: translate(0%,0%) translateZ(0);
}
.m_kakao_item.m_kakao_item01{top:-26%; left:16%;}
.m_kakao_item.m_kakao_item02{top:-11%; left:-9%; transition-delay:0.15s;}
.icon-kakao-item { display:block; width:1.8rem; height:1.8rem; background-image:url(../img/icon-kakao-item-w.png); margin:0 auto 5px; }
.m_kakao_item > a{position:relative; width:100%; height:100%; display:flex; flex-direction:column; justify-content:center; align-items:center;}
.m_kakao_item > a > p{line-height:1.4; font-weight:600; color:#fff; text-align:center;}

.m_call_item{
    position:absolute; width:7.5rem; height:7.5rem; border-radius:100%; background:linear-gradient(90deg, #93a5ca, #5572ab); z-index:0; 
    opacity:0; visibility:hidden; 
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.m_call_item.on{
    opacity:1; visibility:visible; 
    transform: translate(0%,0%) translateZ(0);
    -webkit-transform: translate(0%,0%) translateZ(0);
    -moz-transform: translate(0%,0%) translateZ(0);
    -ms-transform: translate(0%,0%) translateZ(0);
    -o-transform: translate(0%,0%) translateZ(0);
}
.m_call_item.m_call_item01{
    top:-22%; left:13%;
    transform: translate(5%,125%) translateZ(0);
    -webkit-transform: translate(5%,125%) translateZ(0);
    -moz-transform: translate(5%,125%) translateZ(0);
    -ms-transform: translate(5%,125%) translateZ(0);
    -o-transform: translate(5%,125%) translateZ(0);
}
.m_call_item.m_call_item02{
    top:-5%; left:-10%; transition-delay:0.15s;
    transform: translate(100%,105%) translateZ(0);
    -webkit-transform: translate(100%,105%) translateZ(0);
    -moz-transform: translate(100%,105%) translateZ(0);
    -ms-transform: translate(100%,105%) translateZ(0);
    -o-transform: translate(100%,105%) translateZ(0);
}
.m_call_item.m_call_item03{
    top:20%; left:-24%; transition-delay:0.30s;
    transform: translate(100%,105%) translateZ(0);
    -webkit-transform: translate(100%,105%) translateZ(0);
    -moz-transform: translate(100%,105%) translateZ(0);
    -ms-transform: translate(100%,105%) translateZ(0);
    -o-transform: translate(100%,105%) translateZ(0);
}
.m_call_item.m_call_item01.on{
    transform: translate(0%,0%) translateZ(0);
    -webkit-transform: translate(0%,0%) translateZ(0);
    -moz-transform: translate(0%,0%) translateZ(0);
    -ms-transform: translate(0%,0%) translateZ(0);
    -o-transform: translate(0%,0%) translateZ(0);
}
.m_call_item.m_call_item02.on{
    transform: translate(0%,0%) translateZ(0);
    -webkit-transform: translate(0%,0%) translateZ(0);
    -moz-transform: translate(0%,0%) translateZ(0);
    -ms-transform: translate(0%,0%) translateZ(0);
    -o-transform: translate(0%,0%) translateZ(0);
}
.m_call_item.m_call_item03.on{
    transform: translate(0%,0%) translateZ(0);
    -webkit-transform: translate(0%,0%) translateZ(0);
    -moz-transform: translate(0%,0%) translateZ(0);
    -ms-transform: translate(0%,0%) translateZ(0);
    -o-transform: translate(0%,0%) translateZ(0);
}
.icon-call-item { display:block; width:1.8rem; height:1.8rem; background-image:url(../img/icon-call-item-w.png); margin:0 auto 5px; }
.m_call_item > a{position:relative; width:100%; height:100%; display:flex; flex-direction:column; justify-content:center; align-items:center;}
.m_call_item > a > p{line-height:1.4; font-weight:600; color:#fff; text-align:center;}


@media (max-width:799px) {
	.main-quick-menu { display:none; }
	.m-quick-call { display:block; }
}
@media (max-width:434px) {
	.m-quick-circle-bg .m-quick-btn.call {left: 200px;top: 30px;}
    .m-quick-circle-bg .m-quick-btn.kakao {left: 133px;top: 37px;}
    .m-quick-circle-bg .m-quick-btn.home {left: 63px;top: 73px;}
    .m-quick-circle-bg .m-quick-btn.youbube {left: 30px;top: 142px;}
    .m-quick-circle-bg .m-quick-btn.pangyo {left: 18px;top: 196px;}
    
    .m_kakao_item.m_kakao_item01{top:-24%; left:18%;}
    .m_kakao_item.m_kakao_item02{top:-9%; left:-7%;}
    
}
@media (max-width:400px) {
	.m_kakao_item.m_kakao_item01{top:-22%; left:18%;}
    .m_kakao_item.m_kakao_item02{top:-9%; left:-4%;}
    
	.m_call_item.m_call_item01{top:-21%; left:14%;}
    .m_call_item.m_call_item02{top:-6%; left:-8%;}
    .m_call_item.m_call_item03{top:18%; left:-21%;}
}
@media (max-width:376px) {
    
}
#header > .container-lg { display: flex; justify-content: center; }
#gnb,
#gnb .gnb_submenu_inner { width: auto; }
#gnb .gnb_submenu_inner { padding-left: 255px; margin-left: 0; } 

#gnb .gnb_1dli,
#gnb .gnb_submenu ul { width: 156px; }
.gnb_submenu .container-lg { display: flex; justify-content: center; }
@media (max-width: 1599px) {
    #gnb .gnb_submenu_inner { padding-left: 225px; } 
	#gnb .gnb_1dli, 
	#gnb .gnb_submenu ul {
		width: 10.1561vw;
	}
}

#gnb .gnb_1dli span {position: relative;}
#gnb .gnb_1dli .clinic span::before { content: ""; opacity: 1; z-index: -1; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: opacity 0.3s linear; width:100%; height:calc(100% + 4px); border-radius: 10px; background: rgba(124, 148, 196, 1); filter: blur(5px);}
#gnb .gnb_1dli .signature span::before { content: ""; opacity: 1; z-index: -1; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: opacity 0.3s linear; width:100%; height:calc(100% + 4px); border-radius: 10px; background: rgba(196, 124, 124, 1); filter: blur(5px);}

#header.on #gnb .gnb_1dli .clinic span::before,
#header.on #gnb .gnb_1dli .signature span::before{ opacity: 0; }

@media (max-width: 1400px) {
	#header > .container-lg { justify-content: space-between;  }
	.clearfix:before,
	.clearfix:after { display: none; }
}